{% extends 'layout/Layout.html' %}


{% block content %}
<div class="container">
        <h1>À propos de notre projet</h1>
        <p>Ce projet a été réalisé par notre équipe de deux étudiants dans le cadre d'un projet de classe. Nous avons utilisé la méthode en V pour structurer notre travail.</p>
        <h2>Informations sur l'équipe</h2>
        <ul>
            <li> 
            <strong>Marc-Martin AKOKEM</strong>
                <ul>
                    <li>Email : marcakokem@gmail.com</li>
                    <li>Numéro de téléphone : +226 67271489/71561766</li>
                </ul>
            </li>

            <li> 
            	<strong>Wendtoé Caleb DIANDA</strong>
                <ul>
                    <li>Email : diandawcaleb1@gmail.com</li>
                    <li>Numéro de téléphone : +226 77062104/61639270</li>
                </ul>

            </li>
        </ul>
        <h2>Objectifs du projet</h2>
        <p>Les principaux objectifs de ce projet étaient de :</p>
        <ul>
            <li>Appliquer les connaissances théoriques acquises en classe</li>
            <li>Développer une application web fonctionnelle en utilisant Django</li>
            <li>Collaborer efficacement en équipe</li>
        </ul>
        <h2>Technologies utilisées</h2>
        <p>Nous avons utilisé les technologies suivantes :</p>
        <ul>
        	<li>Python</li>
            <li>Django</li>
            <li>Bootstrap</li>
            <li>JavaScript</li>
            <li>HTML/CSS</li>
        </ul>
    </div>                
{% endblock %}