<div class="modal fade" id="ajouterdepense" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title text-dark text-center" id="exampleModalLabel"> AJOUTER UNE DEPENSE </h1>
            </div>
            <form method="POST" action="{% url 'addDepense' %}">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="categorie">Catégorie</label>
                            <select name="categorie" class="form-control" id="categorie">
                                <option>Choisir une catégorie ...</option>
                                {% for categorie in categories %}
                                    <option value="{{ categorie.id }}">{{ forloop.counter }} - {{ categorie.intitule }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="motif">Motif</label>
                            <input class="form-control" name="motif" id="motif">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="date-dep">Date de la dépense</label>
                            <input required name="date" type="date" class="form-control" id="date-dep">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="montant">Montant</label>
                            <input required name="montant" type="number" min="1" step="0.1" class="form-control" id="montant">
                        </div>
                        <div class="form-group col-md-12">
                            <label for="description">Description</label>
                            <textarea class="form-control" name="description" id="description" cols="30" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                </div>
            </form>
        </div>
    </div>
</div>
